.search-user-container .input-search {
    width: 100%;
}

.search-show {
    text-align: center;
    background: rgb(255, 255, 255);
    color: #64748b;
    margin-top: 2;
    width: full;
    padding: 4px;

}
