main {
    padding: 10px;
    max-width: 960px;
    margin: 0 auto;
}

header {

    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    margin-bottom: 50px;
    align-items: center;

    border: 2px solid white;
    /* Tạo viền màu đen */
    border-radius: 10px;
    /* Làm viền bo tròn góc */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Thêm hiệu ứng đổ bóng */
}

header nav {
    display: flex;
    justify-content: flex-start;

    align-items: center;

    gap: 100px;
    margin-left: 100px;

}



img {
    width: 180px;
    height: auto;
    margin-right: 10px;
    max-width: 100%;
}

h2.headertitle {
    color: #e63946;
    /* Màu đỏ dịu */
    font-size: 2.5rem;
    /* Kích thước lớn hơn */
    font-weight: bold;
    text-transform: uppercase;
    /* Chuyển chữ hoa */
    letter-spacing: 1.5px;
    /* Khoảng cách giữa các chữ */
    margin: 0;
    /* Xóa khoảng cách mặc định */
}

header a {
    color: #333;
    /* Màu sắc văn bản */
    font-size: 1.5rem;
    /* Tăng kích thước font */
    font-weight: bold;
    /* Làm đậm chữ */
    text-decoration: none;
    /* Loại bỏ gạch dưới */
    /* padding: 10px 15px; Thêm khoảng cách xung quanh chữ */
    border-radius: 5px;
    /* Bo góc cho liên kết */
    transition: background-color 0.3s, color 0.3s;


}



/* header nav {
    display: flex;
    gap: 80px;
    color: rgb(236, 139, 122);
    text-shadow: 1px 1px #11101d;
    transition: all 0.5s ease;
    font-size: 3cap;
} */

/* .header .nav .headertitle {
    color: #333 !important;
    text-shadow: 1px 1px #11101d;
    transition: all 0.5s ease;
    font-size: 4rem;
}

.header .nav .a {
    color: black !important;
}
 */

/* 
@media screen and (min-width: 700px) {
    div.post {
        grid-template-columns: .9fr 1.1fr;
    }
} */
div.post {

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    margin-bottom: 30px;
}

div.post div img {
    width: 250px;
    /* Điều chỉnh chiều rộng của ảnh */
    height: 200px;
    /* Điều chỉnh chiều cao của ảnh */
    margin-left: auto;
    /* Dịch ảnh sang phải */
    margin-right: 0;
    /* Tạo khoảng cách bên phải, nếu cần */
    display: block;
    /* Đảm bảo ảnh hiển thị như một khối */

}

.post .texts {
    margin: 0;
    font-size: 2rem;
}

.post .texts .title {

    font-size: 2.4rem;
    /* Kích thước chữ lớn hơn một chút */
    font-weight: bold;
    /* Tạo điểm nhấn cho tiêu đề */
    color: #e63946;
    /* Màu đỏ bắt mắt */
    text-align: left;
    /* Căn trái */
    margin-bottom: 10px;
    /* Thêm khoảng cách dưới */
    line-height: 1.4;
    /* Dãn cách dòng dễ đọc hơn */
    letter-spacing: 0.5px;
    /* Khoảng cách giữa các chữ */
    transition: color 0.3s, transform 0.3s;
    /* Hiệu ứng chuyển đổi */
}

.post .texts .info {
    margin: 24px 0;
    color: #333;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    gap: 10px
}

.post .texts .info .author {

    color: #333;
}

.post .texts p.summary p {
    color: #333;
    margin: 20px 0px;
    line-height: 2.5rem;
    font-family: 'Roboto', sans-serif;
    /* Sử dụng phông chữ serif cho kiểu báo */
    font-size: 1.8rem;
    /* Kích thước chữ vừa phải */
    font-weight: normal;
    /* Đảm bảo rằng văn bản không quá đậm */
    letter-spacing: 0.5px;
    font-style: italic
}







.main input {
    display: block;
    margin-bottom: 5px;
    width: 100%;
    padding: 5px 7px;
    border: 2px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

.main button {
    cursor: pointer;
    width: 100%;
    display: block;
    background-color: #555;
    border: 0;
    color: #fff;
    border-radius: 5px;
    padding: 7px 0;
}



.main div.post-page div.image {
    /* max-height: 400px;

    display: flex;
    overflow: hidden;

    padding-left: 370px;
    padding-bottom: 20px; */
    max-height: 300px;
    display: flex;
    overflow: hidden;
}



div.post-page div.image img {
    object-fit: cover;
    object-position: center center;
    width: 100%;
    /* width: 50%; */
}



div.post-page a {
    color: #333;
    text-decoration: underline;
}

div.post-page h1 {
    text-align: center;
    margin: 10px 0 5px;
}

div.post-page time {
    text-align: center;
    display: block;
    font-size: 1rem;
    color: #aaa;
    margin: 10px 0;
}

div.post-page div.author {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: bold;
}


div.content p {
    line-height: 1.7rem;
    margin: 30px 0;
}


div.content li {
    margin-bottom: 10px;
}



div.edit-row {
    text-align: center;
    margin-bottom: 20px;
}


div.post-page a.edit-btn {
    background-color: #333;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    color: #fff;
    padding: 15px 30px;
    border-radius: 5px;
    text-decoration: none;
}

a svg {
    height: 20px;
}

.post-page {
    padding: 50px;
}

/* styles.css */
.react-quill-input {
    font-size: 14px;
    line-height: 1.42;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    box-shadow: none;
    width: 100%;

}

.react-quill-button {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    color: #555;
    font-size: 14px;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
}

.react-quill-button:hover {
    background-color: #e0e0e0;
}